@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*---- universal selector-------- */
*{
    padding: 0;
    margin: 0;
    
}

/*--------- global selector---------- */
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/*-------- end of global selector-------- */

.main{
    margin-top: 1rem;
    width: 100%;
}

.main__logo{
    font-weight: 800;
    font-size: 2rem;
    margin-left: 1rem;
    text-decoration: underline;
}

.container{
   width: 80%;
   max-width: 120rem;
   margin: 0 auto;
}

.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__nav{
    width: 100%;
    padding: 1rem 0 0 1rem;
}

.main__nav ul{
    display: flex;
    flex-wrap: wrap;
}

.main__nav ul li a{
    font-size: 1.8rem;
    color: black;
    padding: 1rem;
}

.btn{
    margin: .4rem 1rem 0 0;
    background-color: black;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    
}

.main__banner{
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin: 1rem 1rem 0 1rem;
}

.main__bannercontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;  
    text-align: center; 
}

.main__bannercontainer h1{
    color: #fff;
    font-size: 5rem;
}

.main__bannercontainer p{
    color: #fff;
    font-size: 1.8rem;   
}


.main__bannercontainer .btn--black{
    width: 100%;
    display: block;
    background-color: black;
    color: white;
    margin-top: 2rem;
    padding: .5rem;
    border: none;
    cursor: pointer;
}

/*----------- hero section----------------- */

span{
    display: block;
}

.hero__header{
   margin: 4rem 0;
   text-align: center;
}

.hero .divider{
    width: 80%;
    height: 0.2rem;
    background: #eee;
    margin: 0 0 4rem 10rem;
}

.hero__header h2{
    font-size: 1rem;
}

.hero__header p{
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 3rem;
}

.hero__col{
    display: flex;
    width: 80%;
    margin: 0 0 4rem 10rem;
}

.hero__row{
    width: 80%;
    margin: 3rem 5rem 0 0;
}

.hero__row h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.hero__row p{ 
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero__row p + p{ 
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.hero__img img{
    width: 100%;
    display: block;
}



.hero__col--reverse{
    display: flex;
    width: 80%;
    flex-direction: row-reverse ;
    margin-left:10rem;
}

.hero__row--reverse{
    width: 80%;
    margin: 4rem 0 0 5rem;
}

.hero__row--reverse h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.hero__row--reverse p{ 
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero__row--reverse p + p{ 
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.hero__img--reverse img{
    width: 100%;
    display: block;
}

.hero__row input{
    width: 7vw;
    font-size: 100%;
    font-weight: 600;
}

.hero__row--reverse input{
    width: 7vw;
    font-size: 100%;
    font-weight: 600;
}



/*------------- article section --------------*/

.article__wrapper{
    display: flex;
    margin: 0 auto;
    width: 65%;
}

.article__header{
    text-align: center;
    margin: 6rem 0 0 0 ;
   
}

.article__header h2{
    font-size: 1rem;
    margin: 1.5rem 0 1rem 0;
}

.article__header p{
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}

.article__col h3{
    width: 20vw;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.article__col span{
    margin-bottom: 1rem;
}

.article__col p{
    line-height: 2rem;
    font-size: 1.5rem;
    width: 90%;
}

footer{
    width: 90%;
    background-color: #f4f4f4;
    padding: 5rem;
    align-items: center;
    margin-top: 7rem;
}

footer h2{
    font-size: 2rem;
    text-align: center;
    margin:1rem 0 1rem 0;
}

footer p{
    font-size: 1.5rem;   
    text-align: center; 
    line-height: 2.5rem;
}

footer .btn{  
    margin: 2% 0 0 46% ;
    font-size: 100% ;
    width: 10%;
}

@media only screen and (max-width: 64em) and (min-width: 40em){
    .hero__col{
     display: block;
    }

    .hero__row{
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: 5rem;
        
    }

    .hero__row .btn{
        display: block;
        margin-bottom: 2rem;
        width: 20%;
    }

    .hero__col--reverse{
        display: block;
    }

    .hero__row--reverse{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hero__row--reverse .btn{
        display: block;
        margin-bottom: 2rem;
        width: 20%;
    }


    footer .btn{
        display: block;
        width: 15%;
        margin-left: 42%;
    }


  }

















